/* assigns the text and background collor to the HTML tags body and h2*/
@debug "Hello world";

$color: #3D3D3D;
$color2: #6D6D6D;

body {
  color: $color;
  background-color: $color2;
}

p {
  color: $color;
}

h2 {
  background-color: $color2;
}
